.block-800{
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.dfp-plate-one-img-bx{
	box-shadow: -10px 10px 30px rgba(68, 68, 65, 0.25);
	-ms-box-shadow: -10px 10px 30px rgba(68, 68, 65, 0.25);
	-webkit-box-shadow: -10px 10px 30px rgba(68, 68, 65, 0.25);
	border-radius: 4px;
	margin-bottom: 35px;
	overflow: hidden;
}
.dfp-plate-one-img-bx img{
	width: 100%;
}
.innerpage-con-wrap{
	position: relative;
}
.default-page-con {
	padding-bottom: 85px;
	padding-top: 0;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.dfp-promo-module-title,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 20px;
	line-height: 1.1;
	color: #444440;
}
.innerpage-con-wrap .default-page-con h3{
	color: #444440;
}
.dfp-promo-module-title{
	color: #3C6C54;
	margin-bottom: 40px;
	display: block;
	letter-spacing: -0.02em;
	text-transform: uppercase;
	font-family: 'Bourton-Base';
}

.dfp-text-module{
	
}
.default-page-con p,
.dfp-text-module p{
    margin-bottom: 28px;
}



/*
Gallery design
*/

.gallery-wrap h1,
.gallery-wrap h2,
.gallery-wrap h3,
.gallery-wrap h4,
.gallery-wrap h5,
.gallery-wrap h6{
	margin-bottom: 30px;
}
.gallery-wrap {
    padding-top: 15px;
}
.gallery {
	display: flex;
	flex-wrap: wrap;
	margin-left: -12px;
	margin-right: -12px;
}


.gallery-item {
	margin: 0;
	padding: 0 12px;
	margin-bottom: 36px;
}
.gallery-columns-3 .gallery-item{
	margin-bottom: 24px;
}
.has-inline-bg .gallery-icon-img{
	height: 264px;
	display: block;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.gallery-icon {
    border-radius: 3px;
    overflow: hidden;
}
.gallery-icon:hover .gallery-icon-img{
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.has-inline-bg .gallery-item img{
	display: none;
}
.gallery-item img {
	width: 100%;
}
.top-gallery-module .gallery-item img{
	border-radius: 0;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}



.gallery-icon-img{
	height: 264px;
	display: none;
}

.glry-col-3 .gallery-icon-img{
	height: 285px;
}

.glry-col-2 .gallery-icon-img{
	height: 263px;
}


.fl-fancy-module{
	overflow: hidden;
	max-width: 100%;
    width: 100%;
    height: 100%;
    position: relative;
}
.fl-fancy-img{
    width: 100%;
    height: 100%;
    transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	
}
.fl-fancy-module:hover img,
.fl-fancy-module:hover .fl-fancy-img{
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.fl-video-play-cntlr{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    color: #fff;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fl-video-play-cntlr i svg{
	width: 70px;
	height: 70px;
}



.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 50px;
	display: flex;
	align-items: center;
}
.fl-dft-lftimg-rgtdes-lft{
	height: 443px;
}
.fl-dft-lftimg-rgtdes-lft div.inline-bg{
	height: 100%;
	width: 100%;
	display: none;
}
.fl-dft-lftimg-rgtdes-lft.has-inline-bg div.inline-bg{
	display: block;
}
.fl-dft-lftimg-rgtdes-lft-img {
    height: 100%;
    width: 100%;
}
.fl-dft-lftimg-rgtdes-lft-img-scale{
	position: relative;
	overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft-img-inr{
	width: 100%;
	height: 100%;
}
.fl-dft-lftimg-rgtdes-lft{
	width: 49%;
	position: relative;
    overflow: hidden;
}
.fl-dft-lftimg-rgtdes-rgt {
	width: 51%;
	position: relative;
    overflow: hidden;
}
.fl-dft-lftimg-rgtdes-lft{
    border-radius: 3px;
    box-shadow: -4px 4px 30px rgba(68, 68, 65, 0.25);
	-ms-box-shadow: -4px 4px 30px rgba(68, 68, 65, 0.25);
	-webkit-box-shadow: -4px 4px 30px rgba(68, 68, 65, 0.25);
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 95px;
	padding-bottom: 5px;
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.has-video .fl-dft-lftimg-rgtdes-video-cntlr{
	display: block;
}
.fl-dft-lftimg-rgtdes-video-cntlr{
	display: none;
}
#fl-dft-lftimg-rgtdes-video{
	position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}
.fl-dft-lftimg-rgtdes-lft.has-video .fl-dft-lftimg-rgtdes-lft-img{
	display: none;
}  

.fl-dft-lftimg-rgtdes-lft img,
.fl-dft-testi-controller img{
	display: block;
}
.fl-dft-lftimg-rgtdes-lft.has-inline-bg .fl-dft-lftimg-rgtdes-lft-img{
	display: none;
}
.fl-dft-lftimg-rgtdes-lft img, 
.fl-dft-testi-controller img{
	height: 100%;
	width: 100%;
}


/*-- left des right img customize---*/
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes{
	padding-top: 0;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
	order: 2;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 95px;
}



/*table*/

.dfp-tbl-wrap{
	padding-top: 50px;
}

.dfp-tbl-wrap h6{
	color: #444440;
	margin-bottom: 15px;
}

.table-dsc{
	padding: 0;
	background-color: transparent;
	border-top: none;
	border-top: 1px solid #edeef0;
}

.table-dsc {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.table-dsc table{
	max-width: 850px;
	width: 100%;
}
.table-dsc::-webkit-scrollbar {
  height: 6px;
}
.table-dsc::-webkit-scrollbar-thumb {
  background: #F5F9F6;
  border-radius: 4px;
}


.table-dsc table tbody tr td:first-child,
.table-dsc table tbody tr td:last-child{
	color: #444440;
}

.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
}

.table-dsc table tbody{

}

.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 700;
	border-bottom: none;
	font-family: 'Titillium Web', sans-serif;
	color: #444440;
}
.table-dsc table tbody tr td:nth-child(2) span,
.table-dsc table tbody tr td:nth-child(3) span{
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;
	color: #444440;
}
.table-dsc table thead tr th:first-child,
.table-dsc table tbody tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	width: 85px;
	text-align: left;
}

.table-dsc table tr th {
	border: none;
	color: #4C5D5B;
	font-weight: 700;
	padding: 15px 0 14px;
	font-size: 16px;
	line-height: 22px;
}
.table-dsc table tr th span{
	display: block;
}
.table-dsc table thead th span{
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color: #444440;
	text-transform: capitalize;
	font-family: 'Tajawal', sans-serif;
	color: #4C5D5B;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 15px;
	padding-right: 15px;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 15px;
	padding-right: 15px;
	font-weight: 700;
}

.table-dsc table thead tr th:first-child span,
.table-dsc table thead tr th:nth-child(2) span,
.table-dsc table thead tr th:nth-child(3) span{
	font-family: 'Titillium Web', sans-serif;
	font-size: 14px;
	color: #444440;
}

.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td span{
	padding-top: 14px;
	padding-bottom: 14px;
	font-size: 14px;
	font-weight: 400;
	line-height: 19.6px;
	color: #444440;
	font-family: 'Tajawal', sans-serif;
}
.table-dsc table span{
	display: block;
}
.table-dsc table tbody tr td{
	border-top: 1px solid #edeef0;
}
.table-dsc table tbody tr:last-child span{
	border-bottom: none;
}

.table-dsc table tbody tr{
	border-left: 0;
	border-right: 0;
}


.dfp-blockqoute-module{
	padding-top: 40px;
}
.dfp-blockqoute-ctlr{
	padding-left: 30px;
	position: relative;
}

.dfp-blockqoute-border{
	position: absolute;
    top: -30px;
    left: 0;
    right: 30px;
    height: 100%;
    border: 1px solid #BBDDC3;
    z-index: 1;
}

.dfp-blockqoute blockquote{
	padding: 100px 50px 100px 200px;
	background: #F5F9F6;
	position: relative;
	margin-bottom: 0;
}
.dfp-blockqoute-des{
	position: relative;
	z-index: 2;
}
.dfp-blockqoute blockquote i{
	position: absolute;
	top: 65px;
    left: 55px;
    max-width: 70px;
	width: 100%;
}
.dfp-blockqoute blockquote p{
	font-size: 30px;
	line-height: 1.1;
	color: #4C5D5B;
	font-weight: 300;
	margin-bottom: 25px;
}
.dfp-blockqoute blockquote strong{
	padding-left: 16px;
	position: relative;
}
.dfp-blockqoute blockquote strong:after{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 2px;
	width: 5px;
	background: #4C5D5B;
}

.dfp-partners-module .wf-client-grds ul{
	padding-left: 0;
	padding-bottom: 0;
}
.dfp-partners-module .wf-client-grds ul li {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}


.dfp-partners-module{
	padding-top: 60px;
	padding-bottom: 50px;
}

.dfp-nieuws-module .wf-recente-update-hdr-lft {
    padding-right: 0;
    width: 100%;
}

.dfp-nieuws-module .wf-nieuws-grds ul{
	padding-left: 0;
	padding-bottom: 0;
}
.dfp-nieuws-module .wf-nieuws-grds ul li{
	padding-left: 0;
	padding-bottom: 60px;
}

.half-item-gallery.has-inline-bg .gallery-icon-img{
	height: 264px;
}

.dfp-btn-module{
	padding-top: 50px;
}
.dfp-btn-module .dfp-btn-module-ctlr ul{
	padding-left: 0;
	display: flex;
	align-items: center;
	margin-left: -12px;
	margin-right: -12px;
    flex-wrap: wrap;
}

.dfp-btn-module-ctlr ul li{
	padding-left: 12px;
	padding-right: 12px;
	width: 25%;
}
.dfp-btn-module-ctlr ul li a{
	min-width: 194px;
}
.dfp-full-width-img-module{
	padding-bottom: 65px;
}
.dfp-full-img-module{
	padding-bottom: 70px;
}
.dfp-grd-module-ctlr{
	padding-bottom: 40px;
}
.dfp-grd-module-ctlr .dfp-grd-item{
	margin-bottom: 20px;
}


hr {
    margin-top: 0;
    padding-top: 20px;
    margin-bottom: 40px;
    border-top: none;
    border-bottom: 2px solid #F8F8F8;
}
.dfp-full-width-img-module .full-img {
    border-radius: 4px 4px 0px 0px;
    overflow: hidden;
    margin: 0;
}
.full-img {
    border-radius: 4px;
    overflow: hidden;
}

/*extra*/
.dfp-destination-grid-module-cntlr {
    padding-bottom: 55px;
}
.dfp-blog-sec-cntlr .sec-entry-hdr{
	padding-bottom: 0;
}
.dfp-blog-grid-cntlr .blog-grd-des{
	text-align: center;
    padding-bottom: 31px;
}
.dfp-blog-grid-cntlr .blog-grd-item-inr{
	height: 100%;
}
.dfp-blog-grid-cntlr .blog-grd-des-title{
	margin-bottom: 20px!important;
}
.dfp-blog-sec-cntlr .blog-grd-img-des-inr {
	flex-direction: column;
}
.dfp-blog-grid-cntlr .blog-grd-des p{
	margin-bottom: 15px!important;
}
.dfp-blog-grid-cntlr .blog-grd-des p:last-child{
	margin-bottom: 0!important;
}
.dfp-blog-sec-cntlr .sec-entry-hdr-title{
	color: #444440;
}
.dfp-blog-sec-cntlr{
	padding-bottom: 60px;
}
.dfp-testimonial-grid-cntlr {
    padding-top: 50px;
    padding-bottom: 50px;
}
.dfp-team-grid-wrap {
    padding-bottom: 60px;
}
.dfp-canoetrip-fag-wrap .cntrp-fag ul,
.dfp-included-sec-module .included-grds ul,
.dfp-info-pagine-fea-cntlr .info-pagine-fea ul{
	padding: 0!important;
	margin: 0!important;
}
.dfp-included-sec-module .included-grds ul li,
.dfp-info-pagine-fea-cntlr .info-pagine-fea ul li{
	padding-top: 0!important;
	padding-left: 0!important;
}
.dfp-canoetrip-fag-wrap .cntrp-fag ul li{
	padding: 0!important;
}
.dfp-info-pagine-fea-cntlr {
    padding-top: 30px;
    padding-bottom: 45px;
}
.dfp-phasellus-grd-cntlr .phasellus-grd{
	width: 25%;
}
.dfp-phasellus-grd-cntlr {
    padding-top: 27px;
    padding-bottom: 25px;
}
.dfp-included-sec-module .included-sec{
	margin-bottom: 80px;
}
.dfp-canoetrip-fag-wrap .cntrp-fag-title{
	margin-bottom: 45px!important;
	color: #3C6C54;
	text-align: left;
}
.dfp-canoetrip-fag-wrap .canoetrip-fag-cntlr {
    padding-bottom: 40px;
}
.dfp-canoetrip-fag-wrap {
    padding-bottom: 40px;
}
.dfp-cta-module-cntlr {
    margin-bottom: 40px;
}
.dfp-team-grid-module .sec-entry-hdr-title{
	color: #3C6C54;
}
.dfp-included-sec-module .included-des-title{
	color: #DEEDE6;
}
.dfp-cta-module-cntlr .cta-module-title{
	color: #fff;
    margin-bottom: 23px!important;
}
.fl-dft-lftimg-rgtdes-lft.has-video{
	display: block;
}
.dfp-testimonial-grid-cntlr .testimonial-grd-des-title {
    margin-bottom: 7px!important;
}

.testimonial-grd-btn-inr{
	display: flex;
	justify-content: space-between;
}
.testimonial-grd-btn-inr a{
	font-weight: 600;
	font-size: 16px;
	text-decoration: none;
}
.dfp-info-pagine-fea-cntlr .info-pagine-fea{
	padding-top: 0;
}


#nieuws-details .btm-gallery{
	margin-bottom: 60px;
}




/*responsive*/



@media(max-width: 1199px){
	.dfp-promo-module-title{
		margin-bottom: 30px;
	}
	.default-page-con {
	    padding-bottom: 65px;
	}
	.dfp-full-width-img-module {
	    padding-bottom: 45px;
	} 
	.dfp-destination-grid-module-cntlr {
	    padding-bottom: 40px;
	}
	.dfp-blog-sec-cntlr {
	    padding-bottom: 45px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
    	padding-left: 70px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
		padding-right: 70px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 410px;
	}
	.dfp-testimonial-grid-cntlr {
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.dfp-team-grid-wrap {
	    padding-bottom: 45px;
	}
	.dfp-full-img-module{
		padding-bottom: 60px;
	}
	.dfp-tbl-wrap {
	    padding-top: 40px;
	}
	.dfp-info-pagine-fea-cntlr {
	    padding-top: 20px;
	    padding-bottom: 35px;
	}
	.dfp-canoetrip-fag-wrap .canoetrip-fag-cntlr {
	    padding-bottom: 30px;
	}
	hr {
		margin-bottom: 30px;
	}
	.dfp-canoetrip-fag-wrap .cntrp-fag-title{
		margin-bottom: 35px!important;
	}
	.dfp-canoetrip-fag-wrap {
	    padding-bottom: 25px;
	}
	.dfp-btn-module {
	    padding-top: 40px;
	}
	.dfp-included-sec-module .included-sec {
	    margin-bottom: 60px;
	}
	.dfp-phasellus-grd-cntlr {
	    padding-top: 18px;
	    padding-bottom: 17px;
	}

}


@media(max-width: 991px){
	.dfp-promo-module-title{
		margin-bottom: 25px;
	}
	.dfp-plate-one-img-bx {
	    margin-bottom: 30px;
	}
	.default-page-con{
		padding-bottom: 50px;
	}
	.dfp-destination-grid-module-cntlr {
	    padding-bottom: 30px;
	}
	.dfp-blog-sec-cntlr {
	    padding-bottom: 35px;
	}
	.dfp-full-width-img-module {
	    padding-bottom: 35px;
	}
	.fl-video-play-cntlr i svg {
	    width: 60px;
	    height: 60px;
	}
	.dfp-testimonial-grid-cntlr {
	    padding-top: 20px;
	    padding-bottom: 20px;
	}
	.dfp-team-grid-wrap {
	    padding-bottom: 30px;
	}
	.dfp-full-img-module {
	    padding-bottom: 50px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 240px;
	}
	.default-page-con ol, 
	.default-page-con ul, 
	ol, 
	ul{
		padding-left: 24px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt {
	    padding-right: 45px;
	}
	.fl-dft-lftimg-rgtdes-rgt {
	    padding-left: 45px;
	}
	.block-848{
		max-width: 100%;
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
	.gallery {
	    margin-left: -10px;
	    margin-right: -10px;
	}
	.gallery-item{
		padding: 0 10px;
	}
	.dfp-btn-module-ctlr ul li{
		width: 33.333%;
	}
	.half-item-gallery.has-inline-bg .gallery-icon-img {
	    height: 220px;
	}
	.dfp-tbl-wrap {
	    padding-top: 30px;
	}
	.dfp-phasellus-grd-cntlr .phasellus-grd {
	    width: 33.333%;
	}
	.dfp-phasellus-grd-cntlr{
	    padding-bottom: 15px;
	}
	.dfp-info-pagine-fea-cntlr {
	    padding-top: 15px;
	    padding-bottom: 25px;
	}
	.dfp-canoetrip-fag-wrap .cntrp-fag-title{
		margin-bottom: 25px!important;
	}
	.dfp-canoetrip-fag-wrap {
	    padding-bottom: 25px;
	}
	.dfp-btn-module {
	    padding-top: 30px;
	}
	.dfp-canoetrip-fag-wrap .canoetrip-fag-cntlr{
	    max-width: 550px;
	    width: 100%;
	    margin-left: auto;
	    margin-right: auto;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 370px;
	}
	.dfp-included-sec-module .included-sec {
	    margin-bottom: 50px;
	}

}



@media(max-width: 767px){
	.dfp-promo-module {
	    padding-bottom: 0;
	}
	.dfp-promo-module-title {
	    margin-bottom: 28px;
	    padding: 0 10px;
	}
	.dfp-plate-one-img-bx {
	    margin-bottom: 32px;
	}
	.dfp-full-width-img-module{
		padding-top: 16px;
	}
	.fl-video-play-cntlr i svg{
		width: 48px;
		height:48px;
	}
	.default-page-con{
		padding-bottom: 40px;
	}
	.dfp-tbl-wrap{
		margin-bottom: 0;
		padding-bottom: 0;
		border-top: none;
	}
	.default-page-con{
		padding-top: 5px;
	}
	.table-dsc table {
	    width: 700px;
	}
	.default-page-con h2 {
	    margin-bottom: 20px;
	}
	.dfp-des-lft,
	.dfp-des-rgt{
		padding-right: 20px;
	}
	.gallery-wrap{
		padding-bottom: 0;
	}
	
	.gallery-wrap{
		padding-top: 0;
	}
	.gallery-icon-img {
	    height: 240px;
	}
	.gallery {
	    margin-left: -8px;
	    margin-right: -8px;
	}
	.gallery-item {
	    padding: 0 8px;
	    margin-bottom: 23px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 170px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 180px;
	}

	.has-inline-bg .gallery-icon-img {
	    height: 250px;
	}

	
	.fl-dft-lftimg-rgtdes{
		display: block;
		padding-bottom: 0;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt {
	    width: 100%;
	    margin-bottom: 24px;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
		margin-bottom: 31px;
	    margin-top: 12px;
	}
	.fl-dft-lftimg-rgtdes-rgt {
	    padding-left: 0;
	    padding-bottom: 0;
	    padding-top: 0;
	    width: 100%;
	}
	.dfp-btn-module-ctlr ul{
		justify-content: center;
	}
	.dfp-btn-module-ctlr ul li {
	    width: 38%;
	}
	.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt {
	    padding-right: 0;
	}
	.dfp-partners-module {
	    padding-top: 40px;
	    padding-bottom: 20px;
	}
	.dfp-btn-module {
	    padding-top: 50px;
	}
	.half-item-gallery .gallery{
		margin: 0;
	}
	.half-item-gallery .gallery-item{
		padding: 0;
		width: 50%;
	}
	.half-item-gallery.has-inline-bg .gallery-icon-img {
	    height: 285px;
	}
	.dfp-destination-grid-module-cntlr{
		margin-top: -8px;
		padding-bottom: 20px;
	}
	.dfp-testimonial-grid-cntlr{
		padding-top: 12px;
		padding-bottom: 0;
	}
	.dfp-testimonial-grid-cntlr .testimonial-grds{
		padding-bottom: 25px;
	}
	.dfp-tbl-wrap {
	    padding-top: 50px;
	}
	.gallery.gallery-columns-3 {
	    overflow-x: scroll;
	    overflow-y: hidden;
	    white-space: nowrap;
	    flex-wrap: nowrap;
	    padding-bottom: 0;
	}
	.gallery.gallery-columns-3{
		width: 300%;
	}
	.gallery-wrap::-webkit-scrollbar-track {
	  	background: #ffffff;
	  	border-radius: 20px;
	  	margin: 0 20px!important;
	}
	.gallery-wrap::-webkit-scrollbar {
	  	height: 4px;
	  	border-radius: 20px;
	}
	.gallery-wrap::-webkit-scrollbar-thumb {
	  	background: #46c791;
	  	width: 50px!important;
	  	border-radius: 20px;
	}
	.gallery-wrap.half-item-gallery{
		overflow-y: hidden;
	    margin: 0 -20px;
	}
	.btm-gallery{
		background: #f8f8f8;
		padding-top: 48px;
		padding-bottom: 44px;
	}
	.gallery.gallery-columns-3 .gallery-icon {
	    border-radius: 0;
	    overflow: initial;
	}
	.dfp-canoetrip-fag-wrap hr{
		display: none;
	}
	.dfp-canoetrip-fag-wrap .canoetrip-fag-cntlr {
	    padding-bottom: 17px;
	}
	.dfp-canoetrip-fag-wrap {
	    padding-bottom: 0;
	    padding-top: 15px;
	}
	.full-img{
		margin: 0 -20px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 350px;
	}
	.dfp-testimonial-grid-cntlr .testimonial-grd-des-inr {
	    padding-bottom: 30px;
	    margin-bottom: 30px;
	    border-bottom: 2px solid #f8f8f8;
	}
	.dfp-testimonial-grid-cntlr .testimonial-grd-des-inr p{
		text-align: left;
		font-weight: 300;
		font-size: 24px;
		line-height: 1.5;
	}
	.dfp-testimonial-grid-cntlr .testimonial-grd-inr{
		align-items: flex-start;
	}
	.dfp-testimonial-grid-cntlr .testimonial-grd-img-ctlr{
		width: 60%;
	}
	.dfp-full-width-img-module .full-img img,
	.dfp-full-img-module .full-img img{
		display: none;
	}
	.dfp-full-width-img-module .full-img div,
	.dfp-full-img-module .full-img div{
		height: 279px;
		width: 100%;
		display: block;
	}
}

@media(max-width: 639px){
	.dfp-testimonial-grid-cntlr .testimonial-grd-img-ctlr {
	    width: 100%;
	}
}
@media(max-width: 575px){
	.default-page-con p, .dfp-text-module p{
		text-align: center;
	}
	.default-page-con h1, 
	.dfp-promo-module-title, 
	.default-page-con h2, 
	.default-page-con h3, 
	.default-page-con h4, 
	.default-page-con h5{
		text-align: center;
	}
	.gallery {
	    margin-left: -8px;
	    margin-right: -8px;
	    padding-bottom: 10px;
	}
	.gallery-item {
	    padding: 0 8px;
	    margin-bottom: 15px;
	}
	.default-page-con ol,
	.default-page-con ul,
	ol,ul{
		padding-left: 0;
		padding-bottom: 0;
		padding-bottom: 10px;

	}
	.default-page-con ol li, ol li {
	    padding-bottom: 6px;
	}
	.default-page-con ol li::before, ol li::before{
		margin-right: 5px;
	}
	.default-page-con h1, 
	.default-page-con h2, 
	.default-page-con h3, 
	.default-page-con h4, 
	.default-page-con h5 {
	    margin-bottom: 20px;
	}
	.gallery-icon-img {
	    height: 200px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 120px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 130px;
	}
	
	.has-inline-bg .gallery-icon-img {
	    height: 231px;
	    display: block;
	}
	.fl-video-play-cntlr i svg{
		width: 56px;
		height: 56px;
	}
	.dfp-full-img-module{
		padding-bottom: 50px;
	}
	.dfp-btn-module-ctlr ul li {
	    width: 38%;
	}
	.dfp-promo-module-des-ctlr .dfp-promo-module-des .dfp-promo-module-title{
		font-size: 32px;
	}
	.dfp-date-module {
    	padding-bottom: 12px;
	}
	.half-item-gallery.has-inline-bg .gallery-icon-img {
	    height: 220px;
	}
	.dfp-btn-module-ctlr ul li a {
	    min-width: 144px;
	    text-transform: uppercase;
	}
	.dfp-btn-module-ctlr ul li {
	    width: initial;
	}
	.dfp-canoetrip-fag-wrap .cntrp-faq-accordion-title{
		text-align: left!important;
	}
	.dfp-testimonial-grid-cntlr .testimonial-grd {
	    padding: 22px 24px;
	    padding-top: 35px;
	    padding-bottom: 35px;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    height: 290px;
	}

	.dfp-faq-module .cntrp-faq-accordion-desc p{
		text-align: left;
	}

}


@media(max-width: 479px){
	.fl-dft-lftimg-rgtdes-lft {
	    height: 215px;
	}
	.has-inline-bg .gallery-icon-img{
		height: 137px;
	}
	.gallery-icon-img {
	    height: 137px;
	}
	.glry-col-2 .gallery-icon-img {
	    height: 137px;
	}
	.glry-col-3 .gallery-icon-img {
	    height: 180px;
	}
	.dfp-btn-module-ctlr ul li {
	    width: initial;
	}
	.half-item-gallery.has-inline-bg .gallery-icon-img {
	    height: 180px;
	}
}

@media(max-width: 359px){
	.dfp-promo-module-title {
	    padding: 0;
	}
	.dfp-btn-module .dfp-btn-module-ctlr ul {
		margin-left: -6px;
    	margin-right: -6px;
	}
	.dfp-btn-module-ctlr ul li {
	    width: 50%;
	    padding-left: 6px;
    	padding-right: 6px;
	}
	.dfp-btn-module-ctlr ul li a {
	    min-width: 100%;
	}
}
